p{
    text-align: center;background-color: rgb(224, 147, 46);color: black;font-family:arial;border: 2px solid green ;
}
#p2{
    text-align: center;background-color: rgb(46, 188, 224);color: black;font-family:arial;border: 2px solid green ;
}
.team{
    text-align: center;background-color: rgb(46, 224, 105);color: black;font-family:arial;border: 2px solid green ;
}